.content-block{:id => "content_block_#{content_block.id}"}
  -#%a.overlay{:href => "javascript:void(0);"} Edit this block

  %div.controls{:style => "float: right;"}
    = link_to 'delete',
        manage_page_content_block_path(content_block.publication.publishable, content_block),
        :method => :delete,
        :confirm => "Are you sure?",
        :remote => :true
    |
    = link_to 'edit',
        edit_manage_page_content_block_path(content_block.publication.publishable, content_block),
        :remote => true

  - unless content_block.content.present?
    .alert.alert-error Content block contains no content
  - else
    = content_block.render


