table#publishables {
  margin-bottom: 2em;
}

#controls {
  margin: 2em 0;
  a.danger {
    color: #911;
    margin-left: 20em;
  }
}

.content_area {
  border: 1px solid #CCC;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 6px;
  position: relative;

  ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    min-height: 30px;
  }

  .content-block {
    position: relative;
    padding: 0px;
    a.overlay {
      text-align: center;
      font-size: large;
      padding: 2em;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: white;
      border: 1px solid #666;
      opacity: 0;
      &:hover {
        opacity: 0.9;
      }
    }
    .content {
      padding: 0.5em;
    }
  }
}
